body {
    background-color: #483D8B;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
}

h1 {
    color: white;
    font-size: 30px;
}

.card {
    background-color: white;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.inserir {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    margin-bottom: 15px;
}

.inserir label {
    font-size: 20px;
}

.inserir input {
    flex-grow: 1;
    padding: 7px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.inserir button {
    padding: 8px 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f0f0f0;
}

.notas-add {
    width: 100%;
    height: 150px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
    padding: 10px;
    box-sizing: border-box;
    overflow-y: auto;
    text-align: left;
    background-color: #fafafa;
}

#botao-calcular {
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
    background-color: #f0f0f0;
}

#media{
    font-size: 20px;
    font-weight: bold;
}