.cardList {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
  align-items: flex-start;
}

.backLink {
  display: block;
  margin-left: 120px; 
  margin-bottom: 25px; 
  margin-top: 20px;
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 24px;
}

.searchContainer {
  width: 100%;
  max-width: 800px; 
  margin-top: 30px; 
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
}